body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
}

.header {
    background-color: #1F2937;
    height: 75px;
}

.one {
    background-color: #1F2937;
    height: 300px; 
}

.two {
    background-color: white;
    height: 300px; 
}

.three {
    background-color: #E5E7EB;
    height: 300px; 
}

.four {
    background-color: white;
    height: 300px; 
}

.footer {
    background-color: #1F2937;
    height: 75px;
}
