* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 12px 250px;
    align-items: center;
}

h2 {
   font-size: 24px; 
   color: #F9FAF8;
   margin: 0;
}

ul {
    display: flex;
    list-style-type:none;
    gap: 25px;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.one {
    background-color: #1F2937;
    display: flex;
    padding: 75px 250px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.contents {
    width:450px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
     color: #E5E7EB;
     margin-top: 10px;
}

img {
    height: auto;
    width: 450px;
}
button {
  color: #F9FAF8;
  background-color: #3883F6;
  padding: 6px 20px;
  border-radius: 8px;
  margin-top: 15px;
}

.two {
    background-color: white;
    flex: 1;
     
}

.three {
    background-color: #E5E7EB;
     
}

.four {
    background-color: white;
    
}

.footer {
    background-color: #1F2937;
    
}
